/* This is a CSS Stylesheet for David's Donut Shop Project */
/* TABLE OF CONENTS */

body {
  background-color: #A59E8C;
}

h1, h2, h3 {
  background-color: #21455B;
  color: #F2F2F2;
}

form {
  background-color: #567D8C;
  clear: left;
}

p {
  background-color: #8C8372;
}

div {
  background-color: #A59E8C;
}

table, th, td {
  background-color: #21455B;
  color: #F2F2F2;
  font-family: Arial;
  text-align: right;
  border: 2px solid black;
  border-collapse: collapse;
  border-spacing: 0.5em;
  clear: both;
}

th, td {
  padding: 5px;

}



