/* This is a CSS Stylesheet for David's Donut Shop Project */
/* TABLE OF CONENTS */

html {
  margin: 0px;
  padding: 0px 0px 0px 0px; }

.header {
  background-color: #000000;
  margin-top: -20px;
  margin: 0px auto;
  width: 1275px;
  height: 150px;
  padding: 0px 0px 0px 0px; }

.header h1 {
  background-color: #000000;
  text-indent: 10px;
  width: 625px; }

.header p {
  background-color: #000000;
  color: #F2F2F2;
  text-indent: 10px; }

.logo {
  position: absolute;
  right: 15px;
  float: right; }

body {
  background-color: #A59E8C; }

h1, h2, h3 {
  background-color: #21455B;
  color: #F2F2F2; }

.top_section img {
  max-width: 30%; }

.top_section p {
  max-width: 30%; }

form {
  background-color: #567D8C;
  float: right; }

legend {
  font-family: Arial;
  font-weight: bold;
  color: #F2F2F2;
  max-width: 30%;
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none; }

p {
  background-color: #8C8372; }

div {
  background-color: #A59E8C; }

table, th, td {
  background-color: #21455B;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 90%;
  text-align: right;
  border: 2px solid black;
  border-collapse: collapse;
  border-spacing: 0.5em;
  clear: both; }

td {
  background-color: #567D8C; }

th, td {
  padding: 4px; }



